<div class="card">
    <h2>Zahlungsmethode</h2>
    <p highlight="error">Keine Zahlungsmethode hinterlegt</p>
</div>
<br>
<div class="card">
    <div card-header>
        <h2 card-title>Log</h2>
        <div card-actions>
            <button>Log</button>
        </div>
    </div>
    <div card-body>
    <%= render(@log_table)%>
    </div>
</div>